
input {
  height: 200px;
}
div.element {
  visibility: hidden;
  position: absolute;
}

div.visible {
  visibility: visible;
  position: relative;
}

.consoles {
  display: flex;
  flex-direction: row;
}


