
//@import "~codemirror/lib/codemirror.css";
//@import "~codemirror/theme/material.css";


input {
  height: 200px;
}
div.element {
  visibility: hidden;
}

div.visible {
  visibility: visible;
}

.consoles {
  display: flex;
  flex-direction: row;
}


